{% assign translation = site.data[page.lang] %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	  <div class="">
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle" data-toggle="collapse"
			data-target="#example-navbar-collapse">
            <span class="sr-only">{{ translation.switchnav }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="/{{ page.lang }}/"><span><img src="{{ '/assets/logo.png' | prepend: site.baseurl }}" width="32px" alt="JOYTOU" style="margin-top: -6px"/> {{ translation.sitename }}</span></a>
		</div>
		<div class="collapse navbar-collapse" id="example-navbar-collapse">
		  <ul class="nav navbar-nav">
            <li class="{% if page.nav == "index" %} active{% endif %}"><a href="/{{ page.lang }}/"><span class="glyphicon glyphicon-home"></span>{{ translation.home }}</a></li>
            <li class="{% if page.nav == "about" %} active{% endif %}"><a href="/{{ page.lang }}/about/"><span class="glyphicon glyphicon-user"></span>{{ translation.about }}</a></li>
			<li class="{% if page.nav == "posts" %} active{% endif %}"><a href="/{{ page.lang }}/posts/"><span class="glyphicon glyphicon-user"></span>{{ translation.categoryarticle }}</a></li>
			<li class="{% if page.nav == "portfolio" %} active{% endif %}"><a href="/{{ page.lang }}/portfolio/"><span class="glyphicon glyphicon-user"></span>{{ translation.tagarticle }}</a></li>
			<li class="dropdown">
			  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				<span class="glyphicon glyphicon-transfer"></span>{{ translation.selectlang }} <b class="caret"></b>
			  </a>
			  <ul class="dropdown-menu">
				{% for weblangs in site.data.lang %}
				{% assign weblang = weblangs[1] %}
				<li class="{% if page.lang == weblang.lang %}active{% endif %}"><a href="/{{ weblang.lang }}">{{ weblang.language }}</a></li>
				{% endfor %}
			  </ul>
			</li>
		  </ul>
		</div>
	  </div>
	</nav>
